<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ronda.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />"
</head>
<body>
    <nav class="navbar">
        <div class="logo-and-nav">
            <div class="logo">Codecks</div>
            <ul class="nav-links">
                <li><a href="{{ url_for('profile') }}">Back to Profile</a></li>
            </ul>
        </div>
    </nav>

    <div class="full-page-image" style="background-image: url('{{ url_for('static', filename='images/diong.png') }}');">
        <!-- Social Media Icons -->
        <div class="social-icons">
            <a href="https://www.facebook.com/smdiong" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://github.com/SMDiong" target="_blank">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://www.instagram.com/neil.aspag/" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
    </div>
<footer class="footer">

        <div class="footer-links">
            <div>
                <a href="#">Audio Description</a>
                <a href="#">Investor Relations</a>
                <a href="#">Legal Notices</a>
            </div>
            <div>
                <a href="#">Help Center</a>
                <a href="#">Jobs</a>
                <a href="#">Cookie Preferences</a>
            </div>
            <div>
                <a href="#">Gift Cards</a>
                <a href="#">Terms of Use</a>
                <a href="#">Corporate Information</a>
            </div>
            <div>
                <a href="#">Media Center</a>
                <a href="#">Privacy</a>
                <a href="#">Contact Us</a>
            </div>
        </div>
        <button class="service-code-btn">Service Code</button>
        <p class="footer-note">&copy; 2024-2025 Codecks, Inc.</p>
    </footer>

</body>
</html>
